*{
    margin: 0;
    font-family: 'Roboto Mono', monospace;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    transition: 1000ms;
    background-color: rgb(85, 85, 85);
    :hover {
        transition: 1000ms;
    }
}

h1 {
    color: rgb(142, 211, 15);
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    margin-left: 2vw;
}

p {
    color: rgb(236, 228, 228);
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    margin-left: 2vw;
}

.navitem {
    text-decoration: none;
    font-size: 2vw;
    margin-left: 2vw;
    color: rgb(236, 228, 228);
    transition: 300ms;
    :hover {
        color: rgb(142, 211, 15);
        transition: 300ms;
    }
    .logo {
    margin-left: -1;
    font-size: 2vw;
    margin-bottom: 0vw;
    color: greenyellow;
    }
}
